extends layout

block content
  h1 Publication
  div(data-bind="ifnot: publication()")
    p Loading...
  div(data-bind="if: publication()")
    ul(data-bind="with: publication()")
      li
        span id:
        span(data-bind="text: id")
      li(data-bind="with: content")
        span content:
        ul
          li
            span message:
            span(data-bind="text: message")

  h1 Reach
