doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    :loadr
      http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js
  body
    block content
    script(src='/javascripts/main.js')
