body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li span:first-child {
  margin-right: 1ex;
}

.chart .post_impressions,
.chart .post_impressions_organic,
.chart .post_impressions_viral,
.chart .post_impressions_paid {
  stroke: white;
}

.chart .post_impressions {
  fill: rgba(100,100,100,.5);
}

.chart .post_impressions_organic {
  fill: rgba(0,100,100,.5);
}

.chart .post_impressions_viral {
  fill: rgba(100,0,100,.5);
}

.chart .post_impressions_paid {
  fill: rgba(100,100,0,.5);
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
