@color_post_impressions: rgba(100,100,100,.5);
@color_post_impressions_organic: rgba(0,100,100,.5);
@color_post_impressions_viral: rgba(100,0,100,.5);
@color_post_impressions_paid: rgba(100,100,0,.5);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li span:first-child {
  margin-right: 1ex;
}

.chart .post_impressions,
.chart .post_impressions_organic,
.chart .post_impressions_viral,
.chart .post_impressions_paid {
  stroke: white;
}

.chart .post_impressions {
  fill: @color_post_impressions
}

.chart .post_impressions_organic {
  fill: @color_post_impressions_organic
}

.chart .post_impressions_viral {
  fill: @color_post_impressions_viral
}

.chart .post_impressions_paid {
  fill: @color_post_impressions_paid
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.legend {
  padding: 0;
  li {
    display: inline-block;
    margin: 0px 12px;
    .color {
      width: 10px;
      height: 10px;
      margin: 0px 3px;
      /*background: red;*/
      display: inline-block;
    }
  }
}

.color.post_impressions { background: @color_post_impressions; }
.color.post_impressions_organic { background: @color_post_impressions_organic; }
.color.post_impressions_viral { background: @color_post_impressions_viral; }
.color.post_impressions_paid { background: @color_post_impressions_paid; }

.note {
  color: gray;
  font-style: italic;
}
